# Node
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env / secrets
.env*
.env.local
.env.*.local
*.pem
*.key

*.xlsx
nginx.conf

tests/

*.test.*
!server/tests/
server/tests/*
!server/tests/reports.test.ts

# Build output
dist/
build/
coverage/
*.tsbuildinfo

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
